# Ignore the data_files directory
*node_data_files/
#*transformed_data_files*/
*old/
__pycache__/
.ipynb_checkpoints/
cds_config.yaml
*.zip
*.xlsx
!UI-database mappings.xlsx
!UI-database mappings_v2.xlsx
*.rtf
*.tsv
#cds-model*
tmp/
.gitsecret/keys/random_seed
!*.secret
