NODE_FILE: ./3-Model-Files/cds-model.yml
DATA_FOLDER: ./0-Raw-Data-Files/cds_raw_data_files_v1.3/
DATA_BATCH_NAME: {{data_batch_name}}
OUTPUT_FOLDER: ./4-Transformed-Data-Files/cds_transformed_data_files_v1.3/
RATIO_LIMIT: 0.75
S3_BUCKET: {{s3_bucket}}
S3_RAWDATA_SUBFOLDER: {{s3_rawdata_subfolder}}
MODEL_FILE_PROPS: ./3-Model-Files/cds-model-props.yml
CLEAN_DICT: ./2-Config-Files/cds_config_v1.3/cds_clean_dict_v1.3.yaml
RAW_DATA_DICTIONARY: ./2-Config-Files/cds_config_v1.3/cds_raw_dict_v1.3.yaml
VALIDATION_FILE: ./2-Config-Files/cds_config/UI-database mappings_v3.xlsx
ID_VALIDATION_RESULT_FOLDER: ./5-ID-Validation-Result
HISTORICAL_PROPERTIES:
  -
    node: study
    property: study_version
    historical_property_file: 2-Config-Files/cds_config_v1.3/historical_study_version.yaml
  -
    node: study
    property: study_data_types
    historical_property_file: 2-Config-Files/cds_config_v1.3/historical_study_data_types.yaml
PARENT_MAPPING_COLUMNS:
  -
    node: participant
    parent_node: study
    property: phs_accession
    relationship: of_study
  -
    node: sample
    parent_node: participant
    property: study_participant_id
    relationship: of_participant
  -
    node: file
    parent_node: sample
    property: sample_id
    relationship: from_sample
  -
    node: genomic_info
    parent_node: file
    property: file_id
    relationship: of_file
  -
    node: diagnosis
    parent_node: participant
    property: study_participant_id
    relationship: of_file
  -
    node: study
    parent_node: program
    property: program_acronym
    relationship: of_program
  -
    node: file
    parent_node: study
    property: phs_accession
    relationship: of_study
  -
    node: image
    parent_node: file
    property: file_id
    relationship: of_file

COMBINE_NODE:
  -
    node: study
    id_column: phs_accession
  -
    node: program
    id_column: program_acronym
  -
    node: diagnosis
    id_column: study_diagnosis_id

COMBINE_COLUMN:
  -
    node: sample
    column1: sample_id
    column2: sample_type
    new_column: sample_id
    external_node: False
  -
    node: participant
    column1: phs_accession
    column2: participant_id
    new_column: study_participant_id
    external_node: study
  -
    node: diagnosis
    column1: study_participant_id
    column2: diagnosis_id
    new_column: study_diagnosis_id
    external_node: participant
  -
    node: genomic_info
    column1: genomic_info_id
    column2: library_id
    new_column: genomic_info_id
    external_node: False

SECONDARY_ID_COLUMN:
  -
    node: diagnosis
    node_id: diagnosis_id
    secondary_id: participant.participant_id
  -
    node: genomic_info
    node_id: genomic_info_id
    secondary_id: file.file_id
  -
    node: image
    node_id: study_link_id
    secondary_id: file.file_id

REMOVE_NODES:
  #- diagnosis
  - treatment

NODE_ID_FIELD:
  program: program_acronym
  file: file_id
  sample: sample_id
  participant: study_participant_id
  study: phs_accession
  diagnosis: study_diagnosis_id
  genomic_info: genomic_info_id
  image: study_link_id